body {
  padding: 30px;
  font-family: sans-serif;
}

/* Text property */
h2 {
  font-size: medium;
}

.axis line {
  fill: none;
  stroke: rgb(228, 222, 222);

}

.axis_yLine {
  fill: none;
  stroke: none;
}

.axis text {
  font-size: 13px;
  fill: dimgrey;
}

.point {
  fill-opacity: 0.5;
  fill: rgb(44, 168, 184);
}